
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Title name</title>

    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="../style.css" type="text/css" />
</head>
<body>

<div class="container" >
    <img class="" data-original=""
         src="http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SX300.jpg"
         alt="watch" style="display: block;">
    <div class="row">
    <div class=" col-sm-3">
        rating ***** &nbsp;&nbsp;&nbsp; Released_Year&nbsp;&nbsp;&nbsp; Rated
    </div>
    <div class=" col-sm-4">
        Run time
    </div>
</div>
    <div class="row">
        <div class=" col-sm-3">
            Movie Plot
        </div>
        <div class=" col-sm-4">
            Director: Actors: Writer: Genre:
            Country: Awards: Language:
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-7">
            <textarea class="form-control" rows="1" placeholder="Write a comment"></textarea>
        </div>
        <div class="col-sm-2">
            <a href="" class="btn button-style" style="float:right;">Comment</a>
        </div>
    </div>
    <h3>User Comments</h3>
    1.<br>
    2.<br>
    3.

</div>
</body>
</html>