<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login & Registration System</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../style.css" type="text/css" /> </head>

<body>
<div class="container">
        <a class="navbar-brand" href=""></a>
    <a href="login.html" class="btn button-style" style="float:right;" >Log In</a>
</div>

<div class="container" style="margin-top:150px;text-align:center;font-family:Verdana, Geneva, sans-serif;font-size:35px;">
<strong class="main-hading">MOVIEFLIX</strong>


    </div>
</body>

</html>