<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome -</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../style.css" type="text/css" /> </head>

<body>
    <nav class=" nav-bg-color">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="">MOVIEFLIX</a>
            </div>
           &nbsp;&nbsp;<div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="">Movies</a></li>
                    <li class=""><a href="add_title.html">Manage Catalog</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><input type="search" id="search"><span class="glyphicon glyphicon-search"></span></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp; User </a></li>
                    <li><a href="login.html" class="">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp; Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <br>
        </div>
    </nav>
    <div class=" ">

        <div class="row ">
            <div class="col-sm-2 menu-bar" style="background-color: #5e5e5e;">
                <br><br>
                &nbsp;&nbsp;<a href="movies.html" class="ancor-color"><span class="glyphicon glyphicon-film"></span>&nbsp;Movies</a><br>
                &nbsp;&nbsp;<a href="movies.html" class="ancor-color"><span class="glyphicon glyphicon-film"></span>&nbsp;TV Shows</a><br>
                &nbsp;&nbsp;<a href="movies.html" class="ancor-color"><span class="glyphicon glyphicon-film"></span>&nbsp;Comady</a><br>
                &nbsp;&nbsp;<a href="movies.html" class="ancor-color"><span class="glyphicon glyphicon-film"></span>&nbsp;Drama</a><br>
                &nbsp;&nbsp;<a href="movies.html" class="ancor-color"><span class="glyphicon glyphicon-film"></span>&nbsp;Action</a><br>
                &nbsp;&nbsp;<a href="movies.html" class="ancor-color"><span class="glyphicon glyphicon-film"></span>&nbsp;Horrer</a>
            </div>
            <div class="col-lg-9 menu-bar">

                            <h3>Latest Popular Movies</h3>

                    <div class="row">
                        <div class=" col-sm-1">
                            <a class="" href=""
                               title="watch Title">
                                <img class="" data-original=""
                                     src="http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SX300.jpg"
                                     alt="watch" style="display: block; height:100px">
                            </a><a class="name" href=""
                                   title="watch">Show name</a>
                        </div>

                        <div class=" col-sm-1">
                            <a class="" href=""
                               title="watch Title">
                                <img class="" data-original=""
                                     src="http://ia.media-imdb.com/images/M/MV5BODQ2NjE2NDY3Ml5BMl5BanBnXkFtZTgwNjQxNzA1NTE@._V1_SX300.jpg"
                                     alt="watch" style="display: block; height:100px">
                            </a>
                            <a class="" href=""
                                   title="watch">Show name</a>
                        </div>


                    </div>
            </div>
        </div></div>


</body>

</html>